# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# build files
dist/
build/
*.egg-info/